/.idea/
/.lando.yml
/vendor/
/web/core/
/web/modules/contrib/*
/web/themes/contrib/*
/web/profiles/contrib/*

/web/.csslintrc
/web/.eslintignore
/web/.eslintrc.json
/web/.ht.router.php
/web/.htaccess
/web/autoload.php
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config

/web/modules/README.txt
/web/profiles/README.txt
/web/sites/README.txt
/web/themes/README.txt

/web/sites/

/.editorconfig
/.gitattributes
